{% extends "layout.html" %}
{% block content %}
<h3>Redbull Downloader Util</h3>
<form role="form" method="post" action="{{ url_for('redbull') }}">
{{ form.hidden_tag() }}
<div class="form-group">
{{ form.searchCriteria.label }}
{{ form.searchCriteria }}
{{ form.submit }}
</div>
<div class="form-group">
<label for="searchResults">Search Results</label>
<table id="searchResultsTable" class="table table-striped tablesorter">
<thead>
<tr><th>Title</th><th>Description</th><th>Status</th><th>Actions</th></tr>
</thead>
<tbody>
{% for result in results %}
<tr>
  <td>{{ result['title'] }}</td>
  <td>{{ result['description'] }}</td>
  <td>{{ result['status'] }}</td>
  <td>{{ result['id'] }} - <a href="{{ url_for('redbull_detail', id=result['id']) }}">Generate Retrieve Script</a><!--, schedule --></td>
</tr>
{% endfor %}
</tbody>
</table>

</div>
</form>
{% endblock %}
